.main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #7d7d7d;
  font-family: sans-serif;
}
.text-wrapper{
  margin-top: 100px;
  width: 50%;
  margin-left: 30px;
}
.img-wrapper{
  margin-top: 100px;
  width: 30%;
}
.img-wrapper img{
  width: 100%;
}
.text-wrapper .title{
  font-size: 54px;
  font-weight: 700;
  color: #95E5AB;
}
.text-wrapper .title span{
  color: #f2f2f2;
}
.text-wrapper .subtitle{
  color: #f2f2f2;
  font-size: 28px;
  /* margin-top: -20px; */
}
.main2{
  width: 100%;
  height: 150px;
  /* background: #7d7d7d; */
}

.main2 img{
  width: 100%;
  transform: rotate(180deg);
  height: 100%;
}

/* .grey{
  height: 70px;
  background: #7d7d7d;
} */

@media screen and (max-width: 600px){
  .main{
    flex-wrap: wrap;
  }
  .main .text-wrapper .title{
    font-size: 34px;
  }
  .main .text-wrapper .subtitle{
    margin-top: 15px;
    font-size: 22px;
  }
  .main .text-wrapper{
    width: 100%;
  }


  .main .img-wrapper{
    width: 100%;
  }
}

@media screen and (max-width: 2250px){
  .main .text-wrapper{
    width: 40%;
  }

  .main .text-wrapper .subtitle{
    margin-top: 15px;
  }

  .main2 .grey{
    margin-top: -1px;
  }
}