.img-contact{
  width: 100%;
  transform: rotate(180deg);
  height: 250px;
}

.contact-model{
  position: absolute;
  top: 3450px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 22px 21px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 22px 21px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 22px 21px rgba(34, 60, 80, 0.2);
  width: 1400px;
  display: flex;
  gap: 30px;
  border-radius: 8px;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-left: 60px;
  width: 90%;
  padding-top: 50px;
}

.contact-model .text-contact{
  width: 50%;
  margin-left: 50px;
}

.contact-model .text-contact .title-contact{
  font-size: 40px;
}

.contact-model .text-contact .subtitle-contact{
  margin-top: 30px;
  font-size: 20px;
}

.contact-model .form-contact{
  width: 40%;
  margin-left: 450px;
}

.contact-model .form-contact form{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.contact-model .form-contact form input{
  width: 500px;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 6px;
  background: #f2efef;
  padding-left: 18px;
  font-size: 20px;
}

.name-input{
  width: 18px;
  height: 25px;
  margin: 17px 470px;
  position: absolute;
}

.email-input{
  width: 25px;
  height: 25px;
  margin: 92px 468px;
  position: absolute;
}

.flag-input{
  width: 25px;
  height: 25px;
  margin: 168px 462px;
  position: absolute;
}

.btn-submit{
  background: green;
  padding: 15px 60px;
  font-size: 25px;
  border: none;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
  color: #f2efef;
}

@media screen and (max-width: 2560px){
  .contact-model{
    margin-top: -20px;
    height: 550px;
    margin-left: 100px;
  }

  .contact-model .text-contact .title-contact{
    font-size: 70px;
  }

  .contact-model .text-contact .subtitle-contact{
    font-size: 35px;
  }

  .contact-model .form-contact {
    display: flex;
    flex-direction: column;
  }

  .contact-model .form-contact .btn-submit{
    margin-top: 120px;
    margin-left: -715px;
    width: 500px;
    height: 100px;
    font-size: 50px;
  }

  .contact-model .form-contact form input{
    width: 700px;
    height: 100px;
    font-size: 30px;
  }

  .contact-model .form-contact form{
    margin-left: 110px;
  }
}

@media screen and (max-width: 1920px){
  .contact-model{
    margin-top: -500px;
  }
  .contact-model .text-contact .title-contact{
    font-size: 52px;
    margin-top: 15px;
  }
  .contact-model .text-contact .subtitle-contact{
    font-size: 30px;
    margin-top: 50px;
  }

  .contact-model .form-contact form {
    margin-left: -150px;
    margin-top: 25px;
  }

  .contact-model .form-contact form input{
    height: 80px;
  }

  .contact-model .form-contact form .btn-submit{
    height: 80px;
    width: 400px;
    font-size: 38px;
    margin-top: 95px;
  }
}

@media screen and (max-width: 1366px){
  .contact-model .text-contact .title-contact{
    font-size: 42px;
  }

  .contact-model .text-contact .subtitle-contact{
    font-size: 19px;
  }

  .contact-model .form-contact form{
    margin-left: -250px;
  }
  .contact-model .form-contact form input{
    height: 70px;
    width: 500px;
  }

  .contact-model .form-contact form .btn-submit{
    margin-left: 0px;
    margin-top: 0;
    width: 300px;
    height: 70px;
    font-size: 28px;
  }
  .contact-model{
    height: 480px;
    margin-top: -780px;
    margin-left: 70px;
  }
}

@media screen and (max-width: 768px){
  .contact-model{
    width: 80%;
    flex-wrap: wrap;
    margin-top: -550px;
    height: 600px;
    margin-left: 80px;
    /* margin-left: 30px; */
  }

  .contact-model .text-contact{
    width: 100%;
  }

  .contact-model .text-contact .subtitle-contact{
    margin-top: 5px;
  }

  .contact-model .form-contact form {
    margin-left: -400px;
    margin-top: 0;
  }

  .contact-model .form-contact form input{
    height: 55px;
    width: 500px;
    font-size: 20px;
  }

  .contact-model .form-contact form .btn-submit{
    font-size: 20px;
    width: 220px;
    height: 70px;
  }
}

@media screen and (max-width: 430px){
  .contact-model{
    margin-top: -150px;
    margin-left: 40px;
  }

  .contact-model .text-contact{
    margin-left: 18px;
    margin-top: -30px;
  }

  .contact-model .text-contact .title-contact{
    font-size: 31px;
  }

  .contact-model .form-contact form {
    margin-top: -70px;
    /* width: 120%; */
    margin-left: -430px;
  }

  .contact-model .form-contact form input{
    height: 40px;
    width: 300px;
  }

  .contact-model .form-contact form .btn-submit{
    height: 40px;
    width: 400px;
    padding: 0;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 40px;
    /* margin-top: 55px; */
    margin-right: 500px;
    /* font-size: 24px; */
  }
}